/* .wrapper {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.accordion {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: calc(10px + 2vmin);
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  cursor: pointer;
}

.accordion-header:hover {
  background-color: #e0e0e0;
}

.accordion-header h3 {
  margin: 0;
}

.accordion-header span {
  font-size: 1.5rem;
}

.accordion-content {
  background-color: #fff;
  padding: 10px;
}


